.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30;
}

.login-form {
  margin-top: 20;
}

.col {
  margin-bottom: 10;
}

.card-login {
  background-color: #e5e2ff;
  padding: 20;
}

.enter-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.enter-button {
  min-width: 120;
  min-height: 40;
}

mat-form-field {
  min-width: 350;
}
